@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 400;
}

h2 {
  font-size: 23px;
  font-weight: 400;
}

h3 {
  font-size: 16px;
  font-weight: 400;
}

h4 {
  font-size: 14px;
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: 300;
  color: rgb(0, 23, 71)
}



.site__button_child::before{
  content: "";
  height: 1px; 
  width:0px; 
  background-color: black;
  position: absolute;
  left: 0;
  right: 0;
  top:90%;
  transition: all .5s ease-in-out ;
}

.site__button:hover .site__button_child::before{   
  position: absolute;  
  width:100%;
}

